.degreeStack {
  display: flex;
  flex-direction: column;
}
.edu {
  margin-bottom: 2vh;
  background-color: rgba(218, 208, 208, 0.8);
  padding: 1.2vh;
  border-radius: 10px;
}
.graduationDate {
  align-self: flex-end;
  font-size: 2vh;
  border-bottom: .2vh solid orange;
  padding-bottom: 1px;
  font-weight: bold;
}
.icon {
  width: 5vw;
  max-height: 5vw;
}
.location {
  border-bottom: .2vh solid rgb(22, 22, 121);
  width: fit-content;
  align-self: flex-start;
}
.main {
  font-size: 2.5vh;
  color: rgb(22, 22, 121);
  width: 85vw;
  text-align: left;
  background-color: rgb(177, 177, 220, 20%);
  padding-top: 5vh;
  padding-left: 4vw;
  padding-right: 4vw;
  padding-bottom: 5vh;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: 'Arial Narrow', sans-serif;
}
.majorRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}
.name {
  margin-bottom: 1vh;
  font-weight: bold;
  border-bottom: orange solid .2vh;
  width: fit-content;
  padding-bottom: 1px;
  font-size: 3vh;
  cursor: pointer;
  align-self: flex-start;
}
.nameIconRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 2vh;
}

