.activeArrow {
  height: 3.5vh;
  width: auto;
  transform: rotate(-90deg);
}
.inactiveArrow {
  height: .2vh;
  width: auto;
}
.activeTitle {
  text-shadow: -1px -1px 0 rgb(22, 22, 121), 1px -1px 0 rgb(22, 22, 121), -1px 1px 0 rgb(22, 22, 121), 1px 1px 0 rgb(22, 22, 121);
  font-size: 4vh;
  font-weight: bold;
  margin-bottom: 3vh;
  cursor: pointer;
  border-right: .6vh solid rgb(22, 22, 121);
  border-bottom: .6vh solid rgb(22, 22, 121);
  border-radius: 3px;
  margin-top: 2vh;
  padding-right: .5vh;

  padding-bottom: .5vh;
  width: fit-content;
}
.inactiveTitle {
  font-size: 3vh;
  font-weight: bold;
  cursor: pointer;
  text-shadow: -1px -1px 0 rgb(158, 67, 10), 1px -1px 0 rgb(158, 67, 10), -1px 1px 0 rgb(158, 67, 10), 1px 1px 0 rgb(158, 67, 10);
}
.invisibleTitle {
  font-size: 3vh;
  font-weight: bold;
  opacity: 0;
  cursor: pointer;
}
.item {
  margin-bottom: 1vh;
}

.main {
  color: rgb(247, 239, 239);

}
.title {
  cursor: pointer;
  margin-bottom: 1vh;
}
