.list {
  margin-top: 10vh;
}
.main {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: left;
  color: rgb(22, 22, 121);
  font-family: 'Arial', sans-serif;
}
.noList {
  margin-top: 0vh;
}

